.blog {
  @include flex(flex-start, space-between);
  gap: 0 50px;
  @include tablet {
    gap: 0 20px;
  }
  @include mobile {
    flex-direction: column;
  }

  &__left {
    width: 70%;
    @include tablet {
      width: 60%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__right {
    width: 30%;
    @include tablet {
      width: 40%;
    }
    @include mobile {
      width: 100%;
    }
    &__item {
      border: 1px solid rgb(218, 215, 215);
      margin-bottom: 50px;
      &__name {
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 1.5rem;
        padding-top: 20px;
      }
    }
  }
  &__list {
    &__item {
      border: 1px solid rgb(218, 215, 215);
      margin-bottom: 50px;
      &__img {
        margin-bottom: 20px;
      }
      &__info {
        padding: 0 30px;
        &__status {
          margin-bottom: 30px;
          display: inline-block;
          padding: 5px;
          background: rgb(247, 246, 246);
          font-weight: 600;
          &--news {
            color: rgb(245, 30, 30);
          }
          &--old {
            color: rgb(20, 243, 57);
          }
        }
        &__name {
          margin-bottom: 15px;
          font-size: 1.4rem;
          color: rgb(43, 45, 66);
        }
        &__desc {
          font-size: 1rem;
          line-height: 1.2rem;
          color: rgb(136, 136, 167);
          margin-bottom: 40px;
        }
        &__user {
          @include flex(center, space-between);
          margin-bottom: 20px;
          &__info {
            @include flex(center, center);
            img {
              height: 40px;
              width: 40px;
              border: 1px solid;
              border-radius: 100rem;
              margin-right: 20px;
            }
            h2 {
              font-size: 1rem;
            }
          }
          &__date {
            color: rgb(136, 136, 167);
          }
        }
      }
    }
  }
  &__recent__posts {
    padding: 0px 20px;
    &__item {
      @include flex(flex-start, center);
      gap: 0 20px;
      margin-bottom: 20px;
      &__img {
        width: 40%;
        border-radius: 5px;
        overflow: hidden;
      }
      &__info {
        h2 {
          font-size: 1.3rem;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__gallery {
    &__img {
      padding: 20px;
      @include flex(center, flex-start);
      gap: 20px;
      flex-wrap: wrap;
      img {
        height: 90px;
      }
    }
  }
  &__tags {
    &__item {
      padding: 0 20px;
      @include flex(center, flex-start);
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;
      span {
        border: 1px solid rgb(202, 199, 199);
        padding: 8px;
        display: inline-block;
        background: rgb(241, 241, 241);
        border-radius: 3px;
        font-weight: bold;
        transition: all 0.2s linear;
        letter-spacing: 0.5px;
        cursor: context-menu;
        &:hover {
          background: rgb(241, 37, 37);
          color: $txt-white;
        }
      }
    }
  }
}
